.category-detail {
    width: 70%;
    box-sizing: border-box;
    padding: 0px 100px;
    margin-top: 20px;
    

    ol {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        width: 30%;
        padding-left: 0px;
        margin-left: 0px;

        
        li {
            padding: 10px;
        }
        
        
        li:hover {
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        li:active {
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}