.connect__container {
  height:55vh;
  color: black;
  background-color: #fed135;
  width: 100%;
  box-sizing: border-box;

  .connect__container__hero {
    padding: 10px 40px;
    box-sizing: border-box;

    .connect__title {
      text-align: center;
      padding: 30px 0px;
      h1 {
        font-weight: 900;
        text-transform: uppercase;
      }
    }

    .connect__content__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 80px;
      
    .connect__content__hero {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        a {
          text-decoration: none;
          color: black;
        }
        

        .connect__content {
         padding: 0px 10px;
         text-align: center;
         width: 20vw;
         box-sizing: border-box;

        img {
            width: 60ox;
            height: 60px;
            padding: 20px 0px;
            padding-bottom: 10px;
            cursor:pointer;
          }
        
        p {
            font-size: 14px;
            line-height: 25px;
            text-decoration: none;
        
        }

        &:hover {
            background-color: white;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.4s ease-out 0s;

            p {
              text-decoration: none;
            }
        }
        
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  
  .connect__container {
    height:70vh;

    .connect__container__hero {
      padding: 5px 10px;
      box-sizing: border-box;

      .connect__content__container {
          padding: 0px 40px;
        
      .connect__content__hero {
          
        .connect__content {
           padding: 0px 10px;
           width: 22vw;
  
          img {
              width: 50ox;
              height: 50px;
              padding: 20px 0px;
            }
          
          p {
              font-size: 12px;
              line-height: 20px;
              text-decoration: none;
          
          }

          
          }
        }
      }
    }
  }
 
 
}
