.container__project {
    padding: 50px 0px;
    height: 160vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #F8F8F8;

    .container__project__hero {
        text-align: center;


        .project__title {
            padding-bottom: 50px;
        }
    }

    .wrapper {
        text-align: center;
        box-sizing: border-box;
        padding: 0px 90px;
        height: 90vh;

        .react-player {
            height: 40vh;
        }
    }
}

@media only screen and (max-width: 1440px) {
    
    .container__project {
       height: 140vh   
    }
   
}

@media only screen and (max-width: 1024px) {
    
    .container__project {
       height: 120vh;  
       
       .container__project__hero {
        text-align: center;


        .project__title {
            padding-bottom: 50px;


            h1 {
                font-size: 28px;
            }
        }

        .wrapper {
            text-align: center;
            box-sizing: border-box;
            padding: 0px 50px;
            height: 70vh;
    
        }
    }
    }
   
}

@media only screen and (max-width: 768px) {
    
    .container__project {
        padding: 50px 0px;
        height: 105vh;

    
        .container__project__hero {
            text-align: center;
    
    
            .project__title {
                padding-bottom: 50px;


                h1 {
                    font-size: 28px;
                }
            }

            .wrapper {
                text-align: center;
                box-sizing: border-box;
                padding: 0px 30px;
                height: 60vh;
        
            }
        }
    }
   
}

@media only screen and (max-width: 480px) {
    
    .container__project {
       height: 80vh;
       
       .container__project__hero {
        text-align: center;

       .wrapper {
        text-align: center;
        box-sizing: border-box;
        padding: 0px 30px;
        height: 35vh;

      }
    }
}
}

@media only screen and (max-width: 375px) {
    
    .container__project {
       height: 80vh;
       
       .container__project__hero {
        text-align: center;

       .wrapper {
        text-align: center;
        box-sizing: border-box;
        padding: 0px 30px;
        height: 35vh;

      }
    }
}
}
