.Mainphoto {
    width: 100%;
    background-image: 
    linear-gradient(to top, rgba(0 , 0,  0, 50), rgba(255, 255, 255, 0)),
        url('../../../assets/netflix-image.jpg');
    object-fit: cover;
    height: 80vh;
    opacity: 0.1 black;

    .container-desc {
        padding-top: 100px;
        width: 40%;
        margin-left: 50px;
        color: white;

        h1 {
            color: white;
        }
    }
    
    .button-play {
        display: flex;
        padding: 15px;
        font-size: 12px;
        justify-content: space-around;
    }

    button:hover{
        color: red;
        background-color: #fff;
        border: 2px solid red;
    }
    
    button {
        background-color: red;
        color: #fff;
        border: 2px solid #fff;
        width: 100%;
        margin-top: 1em;
        padding: 8px 0px;
        font-size: 1em;
        font-weight: lighter;
        letter-spacing: 1px;
        margin-bottom: 0.25em;
        border-radius: 4px;
        padding: 12px;
        cursor: pointer;
    }
    
}