.Mainphoto {
    width: 100%;
    background-image: 
    linear-gradient(to top, rgba(0 , 0,  0, 50), rgba(255, 255, 255, 0)),
        url('../../../assets/netflix-image.jpg');
    object-fit: cover;
    height: 80vh;
    opacity: 0.1 black;
    display: flex;

    .container-desc {
        padding-top: 150px;
        width: 40%;
        margin-left: 50px;
        color: white;

        h2 {
            color: white;
            text-align: left;
            padding:0px;
            font-size: 34px;
        }

        .iconawesome {
            color: yellow;
            margin-right: 10px;
        }

        p{
            font-size: 18px;
        }
    }
    
    .cover-atas{
        margin-top:100px;
        img{
            width: 70%;
            display: flex;
            justify-content: center;
            margin-left: 100px;
            margin-top: 40px;
            border-radius: 30px;
        }
    }

    .button-play {
       display: flex;
       button {
        margin-right: 20px;
       }
    }

    button:hover{
        color: red;
        background-color: #fff;
        border: 2px solid red;
    }
    
    button {
        background-color: red;
        color: #fff;
        border: 2px solid #fff;
        width: 25%;
        margin-top: 1em;
        font-size: 0.8em;
        font-weight: lighter;
        letter-spacing: 1px;
        margin-bottom: 0.25em;
        border-radius: 4px;
        padding: 6px;
        cursor: pointer;
    }
    
}