.container__nav {
    padding: 0rem 4rem;
    margin: 0px auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: hidden;
    -webkit-box-pack: justify;
    justify-content: space-between;
    user-select: none;
    transition: all 0.2s ease-out 0s;
    position: fixed;
    height: 12vh;
    top: 0px;
    left: 0px;
    z-index: 20;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    background: black;
    width: 91vw;
    opacity: 0.8;


    .container__nav__right {

        .container__navigasi {
            display: flex;

            a {
                font-family: inherit;
                font-weight: 700;
                text-transform: uppercase;
                color: #dadada;
                cursor: pointer;
                font-size: 0.8rem;
                text-decoration: none;
                padding: 1rem 2rem;
                transition: color 0.2s ease-out 0s;
                text-decoration: none;

                &:hover {
                    color: #089ECA;
                }
            }
        }

    }

    .container__nav__left {

        svg {
            display: flex;
            width: 70%;
            align-items: center;

        }
    }
}