.container__nav {
    padding: 0px 50px;
    margin: 0px auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: hidden;
    -webkit-box-pack: justify;
    justify-content: space-between;
    user-select: none;
    transition: all 0.2s ease-out 0s;
    position: static;
    top: 0px;
    left: 0px;
    z-index: 20;
    background: white;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    max-width: 1440px;


    .container__nav__right {

        .container__navigasi {
            display: flex;

            a {
                font-family: inherit;
                font-weight: 700;
                text-transform: uppercase;
                color: black;
                cursor: pointer;
                font-size: 0.8rem;
                text-decoration: none;
                padding: 1rem 2rem;
                transition: color 0.2s ease-out 0s;
                text-decoration: none;

                &:hover {
                    color: #089ECA;
                }
            }

            #contact{
                box-sizing: border-box;
                    background-color: #FD346E;
                    color: white;
                    border-radius: 5px;
                &:hover {
                

                }
            }
        }

        .menu__toggle {
            display: none;
            flex-direction: column ;
            height: 22px;
            justify-content: space-between;
            position: relative;

            span {
                display: block;
                width: 28px;
                height: 3px;
                z-index: 1;
                background-color: black;
                transition: all 0.6s;

                &:nth-child(2) {
                    transform-origin: 0 0;
                }

                &:nth-child(4) {
                    transform-origin: 0 100%;
                }
            }

            input {
                position: absolute;
                width: 42px;
                height: 28px;
                opacity: 0;
                top:-5px;
                left: -10px;
                cursor: pointer;
                z-index: 2;

                &:checked ~ span:nth-child(2) {
                    transform: rotate(45deg) 
                }

                &:checked ~ span:nth-child(4) {
                    transform: rotate(-45deg) 
                }
                
                &:checked ~ span:nth-child(3) {
                    transform:scale(0);
                }
            }
        }

     

    }

    .container__nav__left {

        svg {
            display: flex;
            width: 70%;
            align-items: center;

        }
    }
}

@media screen and (max-width: 576px) {
    
   .container__nav {

    .container__nav__right {
        .container__navigasi {
            display: none;
        }

        .menu__toggle {
            display: flex;
        }
    }
   }
}

@media screen and (max-width: 768px) {
    
    .container__nav {
 
     .container__nav__right {
         .container__navigasi {
            display: none;
         }

         .menu__toggle {
            display: flex;
        }
     }
    }
 }

 @media screen and (max-width: 375px) {
    
    .container__nav {
 
     .container__nav__right {
         .container__navigasi {
            display: none;
         }

         .menu__toggle {
            display: flex;
            z-index: 2;
        }
     }
    }
 }