.container__nav {
    padding: 0px 50px;
    margin: 0px auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: hidden;
    -webkit-box-pack: justify;
    justify-content: space-between;
    user-select: none;
    transition: all 0.2s ease-out 0s;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 20;
    background: white;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    max-width: 1440px;


    .container__nav__right {

        .container__navigasi {
            display: flex;

            a {
                font-family: inherit;
                font-weight: 700;
                text-transform: uppercase;
                color: black;
                cursor: pointer;
                font-size: 0.8rem;
                text-decoration: none;
                padding: 1rem 2rem;
                transition: color 0.2s ease-out 0s;
                text-decoration: none;

                &:hover {
                    color: #089ECA;
                }
            }

            #contact{
                box-sizing: border-box;
                    background-color: #FD346E;
                    color: white;
                    border-radius: 5px;
                &:hover {
                

                }
            }
        }

    }

    .container__nav__left {

        svg {
            display: flex;
            width: 70%;
            align-items: center;

        }
    }
}