.hireme__container {
    padding: 40px 80px;
    height: 60vh;
    background-color: #fed135;
    
    .hireme__container__hero{

        .hireme__title{
            
            h1{
                text-align: center;
                text-transform: uppercase;
            }
        }

        .hireme__content__hero{
           display: flex;
           justify-content: center;
           text-align: center;
           padding: 30px 0px;
           

            .hireme__content{
            padding: 0px 30px;
            
                img {
                    width:150px;
                    height: 150px;
                    border-radius: 50%;
                }

                .hireme__description {
                    
                    h5{
                        font-size: 16px;
                    }

                    p{
                        font-size: 14px;
                        line-height: 25px;
                    }
                }

            }
        }

        
    }
}

@media only screen and (min-width: 1300px) {
    
    .hireme__container {
      height: 70vh;
    }
}

@media only screen and (min-width: 1024px) {
    
    .hireme__container {
      height: 70vh;
      padding: 40px 50px;

      .hireme__container__hero {

        .hireme__content__hero {

            .hireme__content {

                .hireme__description {
                    font-size: 12px;
                }
            }
        }
      }
    }
}

@media only screen and (min-width: 768px) {
    
    .hireme__container {
      height: 80vh;
    }
}