.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba($color:black, $alpha: 0.3);
    position: fixed;
    z-index: 1;
    
    h1 {
        font-weight: 600;
        color: white;
        text-align: center;
        margin-left: 0px;;
    }
}

.form-wrapper {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba($color:black, $alpha: 0.8);
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    width: 100%;
    color: #222;
    font-weight: lighter;
}

label {
    font-size: 0.8em;
    margin-bottom: 0.7em;
    color: white;
    font-weight: lighter;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #333
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999999;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.8em;
    display: relative;
    margin-top: 10px;
}

.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.email,
.password {
    width: 100%;
}

.createAccount{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.createAccount {
    p {
        line-height: 18px;
    }

    small {
        color: #999;
        font-weight: lighter;
    }

    button:hover{
        color: #519e8a;
        background-color: #fff;
        border: 2px solid red;
    }
    
    button {
        background-color: red;
        color: #fff;
        border: 2px solid #fff;
        width: 100%;
        margin-top: 1em;
        padding: 8px 0px;
        font-size: 1em;
        font-weight: lighter;
        letter-spacing: 1px;
        margin-bottom: 0.25em;
        border-radius: 4px;
        padding: 12px;
        cursor: pointer;
    }

    .button-signup {
        color: white;
    }
    
}
