.container__footer {
    color: #dadada;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2rem 8rem;
    transition: color 0.2s ease-out 0s;
    background-color: #212121;
    height: 350vh;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    width: 100%;

    .footer__title {
        text-align: center;
        -webkit-box-align: center;
        align-items: center;

        h2 {
            color: #217eb1;
            text-transform: uppercase;
        }

        p {
            span {
                font-weight: 900;
                font-style: italic;
            }
        }

        h3 {
            margin-top: 80px;
            font-size: 28px;
        }
    }

    .socialmedia {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 1.75rem;
            height: 1.75rem;
            cursor: pointer;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 50%;
            margin: 0px 0.75rem;
            transition: all 0.2s ease-out 0s;
            border: 4px solid #217eb1;
            padding: 10px;
            color: white;
        }
    }
}